@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Rowdies:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rowdies:wght@300&display=swap');

:root{
    --primary-color: #124166;
    --secondary-color: #78C5D7;
    --accent1-color: #FCE172;
    --accent2-color: #E86C4A;
    
    --heading-font: 'Rowdies', cursive;
    --paragraph-font: 'Raleway', sans-serif;

    --nav-background-color: #78C5D7;
    --nav-link-color: #124166;
    --nav-hover-link-color: #E86C4A;
    --nav-hover-background-color: #FCE172;
}


* {
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-transform: uppercase;
}

p {
    font-family: var(--paragraph-font);
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 180px 1fr;
    align-items: center;
    justify-items: flex-end;
    border-bottom: 1px solid #ccc;
    max-width: 1200px;
}

#logo {
	margin: 0 0.25rem 0 1rem;
	width: 180px;
	height: auto;
}

.menu nav {
    text-align: right;
    display: flex;
    grid-gap: 5px;
    font-family: Raleway;
    font-weight: 700;
    border: solid 1px #124166;
}

.menu a {
    text-decoration: none;
    padding: .75rem 3rem;
    border: solid 1px #124166;
    color: #124166;
    font-weight: bold;
    background: #afdde7;
}

a:hover {
	color: #E86C4A;
	font-weight: 700;
	text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 1rem auto;
}

/* Begin hero section */

.hero {
    display: grid;
}

.hero img {
    height: auto;
    width: 100%;
    object-fit: cover;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    justify-self: center; 
}

.hero h1 {
    text-align: center;
    background-color: rgba(120, 198, 215, 0.5);
    padding: 1rem;
    border: 1px solid rgba(0,0,0,.1); 
    margin: revert;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    max-width: 1200px;
}  

.hero article {
    display: flex;
    background-color: rgba(232, 108, 74, 0.5);
    width: 60%;
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    flex-direction: row-reverse;
}

.hero article img {
    width: 225px;
    height: auto;
}

.hero p {
    color: #292929;
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
    padding-right: 2rem;
    margin: revert;

}

/* Begin History section */

.history {
    display: grid;
    justify-content: center;
    grid-template-columns: 400px 400px 400px;
    margin: 2rem auto;
}

.history h2 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    justify-self: center;
}

.history p {
    padding: 1rem;
    text-align: justify;
}

p.history, p.first {
    grid-column: 1 / 2;
    grid-row: 2 / 3; 
}

p.history, p.second {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.history img {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    width: 300px;
    width: 225px;
    height: auto;
}

/* Begin Adventure section */

.adventure {
    margin: 4rem auto;
    background-color: #78C5D7;
    padding: 1em;
}

.adventure h2 {
    text-align: center;
    margin-bottom: 30px;
}

.pics {
    display: flex;
    
} 

.pics img {
    max-width: 200px;
    max-height: 300px;
    max-width: 420px;    
}

.pics figure {
    border: thin #FCE172 solid;
    padding: 5px;
    max-width: 420px;
    margin: auto;
}

.pics figcaption {
    background-color: #FCE172;
    color: #124166;
    font-family: Rowdies;
    font-size: small;
    padding: 3px;
    text-align: center;
}

/* footer */

footer {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 200px;
    justify-items: flex-end;
    align-items: center;
    border-top: 1px solid #ccc;
    max-width: 1200px;
}

#footer {
    grid-column: 1 / 2;
    justify-self: center;
}

.social {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.social img {
    width: 50px;
    padding: 10px;
}

.sociallinks nav {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.sociallinks img {
    grid-column: 2 / 3;
    width: 50px;
    padding: 10px;
}

a#wireframe {
    grid-column: 2 / 3;
}

footer {
    margin: 1rem auto 0;
    text-align: center;
    border-top: 1px solid #ccc;
    padding-top: 5px;
  }

/* Stylesheet for Contact Us Page */
/* Contact Us Section */

section.contact {
    background: #78C5D7;
    text-align: center;
    padding: 5rem;
}

.contact h1 {
    margin-bottom: 1.5rem;
    font-size: 45px;
}

/* Company Info Section */

section.company {
    grid-template-columns: 30% 70%;
    margin-top: 1.5rem;
    padding-left: 5rem;
    display: grid;
    border-bottom: solid 1px #e5e5e5;
    grid-template-rows: repeat(7,56.25px);
}

.company h1{
    font-size: 30px;
    grid-row: 1 / span 2;
    margin-bottom: 1rem;
}

p.title1, p.title2, p.title3 {
    font-size: 22px;
    color: #bc573c;
    font-weight: bold;
}

iframe {
    grid-column: 2 / 3;
    grid-row: 1 / span 9;
    justify-self: right;
}

/*Employee Section */

.employee img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

div.employee {
    margin: 5rem 0 5rem 5rem;
    display: grid;
    grid-template-columns: repeat(3,33%);
}

.employee h1 {
    font-size: 30px;
    margin-bottom: 4rem;
    text-align: left;
    grid-column: 1 / span 4;
    grid-row: 1 / 2;
}

img.emp1 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}


figcaption.title1, figcaption.title2, figcaption.title3 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: #bc573c;
    font-weight: bold;
    font-size: 1.5rem;
}

/* Contact Form Section */

section.form {
    background: #78C5D7;
    text-align: center;
    padding: 5rem 20rem 5rem 20rem;
}

.form h1 {
    font-size: 2rem;
}

p.header {
    margin-bottom: 2rem;
    font-weight: bold;
}

form {
    box-sizing: border-box;
    height: auto;
    padding: 20px;
    display: grid;
  }

input, textarea { 
  background-color: white;
  border-radius: 10px;
  border: solid 1px #124166;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  outline: 0;
  width: 100%;
}

input#name {
    padding: 10px;
}

input#email {

    padding: 10px;
}

textarea#message {
    padding: 10px;
    margin-bottom: 10px;
}

label {
    text-align: left;
    padding: 3px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

p.message {
    text-align: left;
    font-weight: bold;
    margin-top: 4rem;
}

.form-control {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1em auto;
    color: black;
    gap: 1rem;
}

label[for="message"] {
    margin: 2rem 0 1rem 0;
}

input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
}

.checkbox {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 1em;
    line-height: 1.6em;
}

input[type="checkbox"] {
    width: 1em;
    height: 1em;
}

/* Submit Button */

button {
    background-color: #124166;
    padding: 10px;
    font-size: 1rem;
    color: white;
    margin-top: 2rem;
    font-weight: 700;
    font-size: 1.25rem;
    border-radius: 10px;
}

button:hover{
  background-color: #f0a08a;
  color: #124166;
}

/* Stylesheet for Trips Page */
/* Called to Action Section */

.action {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 8rem auto;
}

.action h1 {
    grid-row: 1 /2;
}

.action img {
    width: 500px;
    height: auto;
    grid-row: 1 / span 4;
    grid-column: 2 / 3;
    justify-self: right;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.action button {
    width: 40%;
    justify-self: right;
}

/* Trip Showcase Section */

.showcase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.showcase > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.showcase > p {
    padding: 2rem;
}

.showcase img {
    max-width: 100%;
}

.text {
    padding: 0 20px 20px;
}

.showcase h1 {
    grid-column: 1 / span 3;
}

/*Trips Section */

.trips {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 0 20px 20px;
}

.trips > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    background-image: url("../images/moab.jpeg");     
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    color: white;
    font-weight: bold;
    padding: 1rem;
}

.trips > p {
    padding: 1rem;
    background: white;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    color: #bc573c;
    grid-column: 2 / 3;   
    grid-row: 1 / span 2;
    align-self: center;
}

.trips h1 {
    grid-column: 1 / span 2;
    margin-top: 8rem;
}

.trips h2 {
    color: white;
}

.trips button {
    height: 70%;
    max-height: 50px;
    align-self: end;
    margin-bottom: 1rem;
}