@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rowdies:wght@300&display=swap');

:root{
    --primary-color: #124166;
    --secondary-color: #78C5D7;
    --accent1-color: #FCE172;
    --accent2-color: #E86C4A;

    --heading-font: 'Rowdies', cursive;
    --paragraph-font: 'Raleway', sans-serif;

    --nav-background-color: #78C5D7;
    --nav-link-color: #124166;
    --nav-hover-link-color: #E86C4A;
    --nav-hover-background-color: #FCE172;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}